<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <!-- Enables the DotRas trace source for diagnostic logging. -->
      <source name="DotRas" switchValue="Verbose">
        <listeners>
          <add name="Console" type="System.Diagnostics.ConsoleTraceListener"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>
