<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="stripSccBindings" type="StripSccBindings.Configuration.StripSccBindingsSection, StripSccBindings, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  
  <stripSccBindings>
    <providers>
      <add name="vstfs" description="Microsoft Team Foundation Server"
           type="StripSccBindings.Providers.VisualStudio.TeamFoundation.TfsVSStripSccBindingsProvider, StripSccBindings"/>
    </providers>
  </stripSccBindings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>