<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="DotRas" switchValue="Verbose">
        <listeners>
          <clear/>
          <add name="File" type="System.Diagnostics.TextWriterTraceListener" initializeData="DotRas.log"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>