<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="stripSccBindings" type="StripSccBindings.Configuration.StripSccBindingsSection, StripSccBindings, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </configSections>
    <stripSccBindings>
        <providers>
            <add name="vstfs"
              type="StripSccBindings.Providers.VisualStudio.TeamFoundation.TfsVSStripSccBindingsProvider, StripSccBindings, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
              description="Microsoft Team Foundation Server"/>
        </providers>
    </stripSccBindings>
</configuration>